{% extends 'index.html' %}
{% load static %}

{% block head %}
    <title>Список актеров</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock head %}

 {% block content %}
    <div class="inner_cont">
        <h2>Список актеров</h2>
        <ul class="actors">
            {% for one in actor_list %}
                <li class="actor_card">
                    <a href="{{ one.id }}">
                        <img src="{{ one.image }}" alt="">
                        <p>{{ one.name }} {{ one.lastname }}</p>
                    </a>
                </li>
            {% endfor %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="step-links">
                        {% if page_obj.has_previous %}
                {#            <a href="?page=1">&laquo; first</a>#}
                <a href="?page={{ page_obj.previous_page_number }}">пред</a>
                        {% endif %}

                        <span class="current">
                            Стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                        {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">след</a>
                {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
                {% endif %}
                </span>
            </div>
            {% endif %}
        </ul>
    </div>
{% endblock content %}