{% extends 'index.html' %}
{% load static %}

{% block head %}
    <title>Список режиссеров</title>
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock head %}

 {% block content %}
    <div class="inner_cont">
        <h2>Список режиссеров</h2>
        <ul class="directors">
            {% for one in director_list %}
                <li class="director_card">
                    <a href="{{ one.getAbsUrl }}">
                        <img src="{{ one.image }}" alt="">
                        <p>{{ one.name }} {{ one.lastname }}</p>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            <div class="pagination">
            <span class="step-links">
                    {% if page_obj.has_previous %}
            {#            <a href="?page=1">&laquo; first</a>#}
            <a href="?page={{ page_obj.previous_page_number }}">пред</a>
                    {% endif %}

                    <span class="current">
                        Стр {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

                    {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след</a>
            {#            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>#}
                    {% endif %}
            </span>
            </div>
            {% endif %}
    </div>
 {% endblock content %}