<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про фильм</title>
</head>
<body>
    <h2>Фильм {{ kino.title }} </h2>
    <p>Жанр: {{ kino.genre }}</p>
    <p>Режисер: {{ kino.director }}</p>
    <p>Страна: {{ kino.country }}</p>
    <p>Год: {{ kino.year }}</p>
    <p>Актеры: </p>
        {% for one in kino.actor.all %}
            <p>{{ one.name }} {{ one.lastname }}</p>
        {% endfor %}
    <p>Подписка: {{ kino.podpiska.level }}</p>
    <iframe width="560" height="315" src="{{ kino.trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>