{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>Title</title>
{#    <link href="{% static 'style.css' %}" rel="stylesheet">#}
    {% endblock head %}
</head>
<body class="main-page-body">
    {% block menu %}
        <div class="menu">
            <a href="{% url 'home' %}">Главная</a>
            <a href="">Актеры</a>
            <a href="{% url 'alldirector' %}">Режиссеры</a>
            <a href="{% url 'allkino' %}">Фильмы</a>
            <a href="">Подписка</a>
            {% if not user.username %}
                <a href="{% url 'login' %}">LOGIN</a>
            {% else %}
                <a href="{% url 'logout' %}">LOGOUT</a>
            {% endif %}
        </div>
    {% endblock menu %}
    {% block content %}
        <div class="cont">
            <h2>Добро пожаловать на сайт!</h2>
            <h3>На сайте {{ k1 }} фильмов</h3>
            <h3>На сайте {{ K2 }} бесплатных фильмов</h3>
        </div>
    {% endblock content %}
</body>
</html>